@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

.bg-black-opacity-50{
	background-color: rgb(0 0 0 / 0.8);
}
.font-black-force{
	color:#000 !important;
}
.link-to-open-modal{
	text-decoration:underline;
	color:#0000ff;
}
.modal-panel-div-container{
	max-height: 80% !important;
    overflow-y: auto !important;
}
.modal-panel-div-container .modal-content h1{
	font-size: 24px !important;
    font-weight: 500 !important;
}
.modal-content{
	width: 100%;
    margin-top: 32px;
}
.opacity-0{
	opacity:0;
}